---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./allow-webhook-ingress.yaml
  - ./allow-git-egress.yaml
  - ./allow-kustomize-controller.yaml
