---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1m
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    crds: Create
    timeout: 10m
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    timeout: 10m
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: flux-kube-state-metrics-config
    valuesKey: kube-state-metrics-config.yaml
  values:
    alertmanager:
      enabled: true
      service:
        type: LoadBalancer
        loadBalancerIP: "192.168.1.203"
    kubeStateMetrics:
      enabled: true
      service:
        type: LoadBalancer
        loadBalancerIP: "192.168.1.204"
    nodeExporter:
      enabled: true
      operatingSystems:
        linux:
          enabled: true
    prometheus:
      enabled: true
      service:
        type: LoadBalancer
        loadBalancerIP: "192.168.1.208"
      prometheusSpec:
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        enableFeatures:
          - native-histograms
        enableRemoteWriteReceiver: true
    grafana:
      enabled: true
      defaultDashboardsEnabled: true
      defaultDashboardsTimezone: mdt
      datasources:
        datasources.yaml:
          apiVersion: 1
          datasources:
            - name: Prometheus
              type: prometheus
              uid: prometheus
              access: proxy
              orgId: 1
              url: http://kube-prometheus-stack-prometheus.monitoring:9090
              basicAuth: false
              editable: true
              jsonData:
                httpMethod: GET
                exemplarTraceIdDestinations:
                - name: trace_id
                  datasourceUid: tempo
            - name: Tempo
              type: tempo
              access: browser
              basicAuth: false
              orgId: 1
              uid: tempo
              url: http://tempo.monitoring.svc.cluster.local:3100
              isDefault: false
              editable: true
            - orgId: 1
              name: Loki
              type: loki
              typeName: Loki
              access: browser
              url: http://loki.monitoring.svc.cluster.local:3100
              basicAuth: false
              isDefault: false
              editable: true
      sidecar:
        dashboards:
          enabled: true
          label: grafana_dashboard
          labelValue: "1"
          folder: /tmp/dashboards
          searchNamespace: monitoring
          provider:
            foldersFromFilesStructure: true
