---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-generic-oauth-secret
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: auth-generic-oauth-secret
  data:
  - secretKey: client_id
    remoteRef:
      key: "89f63213-95fd-4cde-a33f-b3ae01626c60"
      property: client_id
  - secretKey: client_secret
    remoteRef:
      key: "89f63213-95fd-4cde-a33f-b3ae01626c60"
      property: client_secret