---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-grafana-client-id
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
  - secretKey: client_id
    remoteRef:
      key: "89f63213-95fd-4cde-a33f-b3ae01626c60"
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-grafana-client-secret
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
  - secretKey: client_secret
    remoteRef:
      key: "92b76e73-8fdb-423f-9504-b3ae0162185c"