---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-generic-oauth-secret
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: auth-generic-oauth-secret
    template:
      engineVersion: v2
      data:
        client_id: '{{ .client_id | trimAll "\"" }}'
        client_secret: '{{ .client_secret | trimAll "\"" }}'
  data:
  - secretKey: client_id
    remoteRef:
      key: "89f63213-95fd-4cde-a33f-b3ae01626c60"
      property: client_id
  - secretKey: client_secret
    remoteRef:
      key: "92b76e73-8fdb-423f-9504-b3ae0162185c"
      property: client_secret