---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./allow-external-ingress.yaml
  - ./allow-egress-to-kagent.yaml
  - ./allow-egress-to-external-apis.yaml
