---
apiVersion: kiali.io/v1alpha1
kind: Kiali
metadata:
  name: kiali
spec:
  istio_namespace: istio-system
  deployment:
    accessible_namespaces:
    - '**'
  auth:
    strategy: anonymous
  external_services:
    prometheus:
      url: http://prometheus-kube-prometheus-prometheus.monitoring:9090
