---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrepository.yaml
  # DISABLED: Loki depends on SeaweedFS S3 storage which has been removed
  # - ./loki.yaml
  # - ./promtail.yaml
  - ./tempo.yaml

