# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  # Override Release name to avoid the pattern Namespace-Release
  # Ref: https://fluxcd.io/flux/components/helm/api/v2/#helm.toolkit.fluxcd.io/v2.HelmRelease
  interval: 1m
  chart:
    spec:
      chart: loki
      version: 6.48.0
      sourceRef:
        kind: HelmRepository
        name: grafana
  install:
    strategy:
      name: RetryOnFailure
    createNamespace: true
    timeout: 10m
  upgrade:
    strategy:
      name: RetryOnFailure
    cleanupOnFail: true
    timeout: 10m
  values:
    loki:
      schemaConfig:
        configs:
          - from: "2024-04-01"
            store: tsdb
            object_store: s3
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      ingester:
        chunk_encoding: snappy
      querier:
        # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
        max_concurrent: 4
      pattern_ingester:
        enabled: true
      limits_config:
        allow_structured_metadata: true
        volume_enabled: true


    deploymentMode: Distributed

    ingester:
      replicas: 3 # To ensure data durability with replication
      zoneAwareReplication:
        enabled: false
    querier:
      replicas: 3 # Improve query performance via parallelism
      maxUnavailable: 2
    queryFrontend:
      replicas: 2
      maxUnavailable: 1
    queryScheduler:
      replicas: 2
    distributor:
      replicas: 3 
      maxUnavailable: 2
    compactor:
      replicas: 1
    indexGateway:
      replicas: 2
      maxUnavailable: 1

    bloomPlanner:
      replicas: 0
    bloomBuilder:
      replicas: 0
    bloomGateway:
      replicas: 0

    backend:
      replicas: 0
    read:
      replicas: 0
    write:
      replicas: 0

    singleBinary:
      replicas: 0
    
    storage:
      type: s3
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin
      s3:
        # Internal DNS to SeaweedFS S3 service
        # Format: http://<release-name>-s3.<namespace>.svc:8333
        endpoint: http://seaweedfs.monitoring.svc.cluster.local:8333 
        insecure: true

    # Expose gateway via LoadBalancer for external Grafana access
    gateway:
      service:
        type: LoadBalancer
        loadBalancerIP: "192.168.1.206"
    
    persistence:
      # -- What to do with the volume when the StatefulSet is scaled down.
      whenScaled: Delete
      # -- What to do with the volumes when the StatefulSet is deleted.
      whenDeleted: Delete
      # -- Enable StatefulSetAutoDeletePVC feature
      enableStatefulSetAutoDeletePVC: true
      # -- Enable StatefulSetRecreation for changes to PVC size.
      # This means that the StatefulSet will be deleted, recreated (with the same name) and rolled when a change to the
      # PVC size is detected. That way the PVC can be resized without manual intervention.
      enableStatefulSetRecreationForSizeChange: false
      # -- Enable persistent disk
      enabled: true
      # -- Set access modes on the PersistentVolumeClaim
      accessModes:
        - ReadWriteOnce
      # -- Size of persistent disk
      size: 20Gi
      # -- Storage class to be used.
      # If defined, storageClassName: <storageClass>.
      # If set to "-", storageClassName: "", which disables dynamic provisioning.
      # If empty or set to null, no storageClassName spec is
      # set, choosing the default provisioner (gp2 on AWS, standard on GKE, AWS, and OpenStack).
      storageClass: longhorn
      # -- Selector for persistent disk
      selector: null
      # -- Annotations for volume claim
      annotations: {}
      # -- Labels for volume claim
      labels: {}