---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./kagent-llm-tokens.yaml
  - ./agentgateway.yaml
  - ./open-webui.yaml
